<template>
    <div class="main">
        <Header title='计分工具'></Header>
        <div>
            <div class="header-card">
                <div class="act-name">
                    <label for="比赛名称">行动代号</label>
                    <input id="act-name-input" type="text" name="比赛名称" v-model="betVOs.bet_name" :disabled="[1, 2].includes(betVOs.status)" placeholder="请输入行动代号">
                </div>
                <div class="team">
                    <p>团队成员</p>
                    <div class="team-row">
                        <AddSquare title='船长' :blackFont='true' :name='selectedBanker.username' character="banker" @showPopup="showPopup('banker')"></AddSquare>
                        <AddSquare title='船员' character="player" v-for="(item,index) in selectedPlayerList" :key='index' :name='item.username' @showPopup="showPopup('player')"></AddSquare>
                        <AddSquare title='船员' character="player" v-if="![1, 2].includes(betVOs.status)" @showPopup="showPopup('player')"></AddSquare>
                    </div>
                </div>
                <button id="sail-btn" class="btn" v-if='![1, 2].includes(betVOs.status)' @click="startGame">开船</button>
                <div v-if="![1, 2].includes(betVOs.status)">
                    <hr class="split"/>
                    <p class="or">或者</p>
                    <div class="act-name">
                        <!-- <label for="比赛名称">行动代号</label> -->
                        <input id="search-input" type="text" name="比赛名称" v-model="betVOs.bet_name" :disabled="[1, 2].includes(betVOs.status)" placeholder="请输入开展中的行动代号">
                    </div>
                    <button id="aboard" class="btn" @click="getBetDetail()">上船</button>
                </div>
            </div>
            <div class="score-table" v-if="[1, 2].includes(betVOs.status)">
                <!-- 序号列 -->
                <div class="set-col">
                    <div class="row-head">SET</div>
                    <div class="set-num" v-for="(item,index) in scoreList" :key='index'>{{ item.setNum }}</div>
                    <div class="bet">BET</div>
                    <div class="bet">倍数</div>
                </div>
                <!-- 成员得分列 -->
                <div class="member-col">
                    <!-- 头像行 -->
                    <div class="port-row" v-if="betMemberList && betMemberList.length">
                        <Portrait v-for="item in betMemberList" :text='item.member_name' :showTitle='false' :key='item.member_id'></Portrait>
                    </div>
                    <!-- 得分行 -->
                    <div class="score-row" v-for="(item,index) in scoreList" :key='index'>
                        <div class="score" v-for='(score,index) in item.scoreList' :key='index'>{{ score }}</div>
                    </div>
                    <!-- 下注行 -->
                    <div class="bet-row">
                        <input class="bet-input" type="number" v-for="member in betMemberList" :key='member.member_id'>
                    </div>
                    <button class="btn">确认</button>
                    <!-- 确认倍数行 -->
                    <div class="bet-multiple-row">
                        <div class="bet-multiple" v-for="(member,index) in betMemberList" :key='member.member_id'>
                            <button class="no-bg-btn" id="minus-btn" @click="minusMult(index)" v-if="member.character === 'player'">-</button>
                            <input class="multiple-input" v-model="member.multiple" disabled v-if="member.character === 'player'">
                            <button class="no-bg-btn" id="add-btn" @click="addMult(index)" v-if="member.character === 'player'">+</button>
                        </div>
                    </div>
                    <button class="btn">提交</button>
                    
                </div>
            </div>
            <div class="btn-area">
                <button class="btn" id="next-btn">下一局</button>
                <button class="btn" id="finish-btn">下船</button>
            </div>
        </div>
        <Popup v-show="showMemberSelector" :list='unselectedMemberList' @hidePopup='hidePopup' @select='selectMember'></Popup>
    </div>
</template>

<script>
import Header from '../../common/header.vue'
import Portrait from '../../common/portrait.vue'
import AddSquare from '../../common/addSquare.vue'
import Popup from '../../common/popup.vue'
import axios from 'axios'

export default ({
    name: 'Score',
    data() {
        return {
            showMemberSelector: false,
            // memberList: ['阿聪','轩','嘻嘻成','超sir', 'u1','u2','u3','u4'],
            memberList: [], // 数据库里的赌徒名单
            betMemberList: [], // 开局后的成员名单
            memberOrder: null, // 添加成员时，用于计算顺序
            selectedBanker: {},
            selectedPlayerList: [],
            selectCharacter: null, // 当前选择用户时的角色：庄or闲
            currentSetNo: 1, // 当前局数
            betVOs: {
                bet_id: null,
                bet_name: '',
                status: null, // 1已开局，2已结束
                create_person_id: null,
                create_person_name: '',
                create_time: null,
                setList: [
                    {
                        set_no: null, // 局数
                        setDetail: [
                            {
                                member_id: null,  // 成员id
                                member_name: null, // 成员名
                                bet_num: null, // 下注数目
                                multiple: null, // 赢输倍数
                                score: null, // 赢输数目
                            }
                        ],
                    }
                ]
            },
            multiple: 1, // 倍数
            scoreList: [
                {
                    setNum: 1,
                    scoreList: [5, 3, -2, 0, 1, -4, -7, 10]
                },
                {
                    setNum: 2,
                    scoreList: [-10, 10, 20, 0, 10, 5, -3, -8]
                },
                {
                    setNum: 3,
                    scoreList: [3, -5, -10, 0, 4, 5, 8, -20]
                },
                {
                    setNum: 4,
                    scoreList: [5, 3, -2, 0, 1, -4, -7, 10]
                },
                {
                    setNum: 5,
                    scoreList: [-10, 10, 20, 0, 10, 5, -3, -8]
                },
                {
                    setNum: 6,
                    scoreList: [3, -5, -10, 0, 4, 5, 8, -20]
                },
            ]
        }
    },
    computed: {
        unselectedMemberList() {
            let allSelected = this.selectedPlayerList.concat([this.selectedBanker])
            let temp = this.memberList.filter(item => {
                return !allSelected.find(i => {
                    return i.user_id === item.user_id
                })
            })
            return temp
        }
    },
    components: {
        Header, Portrait, AddSquare, Popup
    },
    methods: {
        // 弹起选择弹窗
        showPopup(char) {
            let _self = this
            if(![1,2].includes(this.betVOs.status)) {
                this.getPlayers().then(() => {
                    if(_self.unselectedMemberList && _self.unselectedMemberList.length == 0) {
                        alert('暂无成员，请联系系统管理员！')
                        return
                    }
                    _self.selectCharacter = char
                    _self.showMemberSelector = true
                })
            }
        },
        // 关闭弹窗
        hidePopup() {
            this.showMemberSelector = false
        },
        // 选择成员
        selectMember(item) {
            // 选择庄家
            if (this.selectCharacter && this.selectCharacter === 'banker') {
                item.character = 'banker'
                item.order = 0
                this.selectedBanker = item
            }else if(this.selectCharacter && this.selectCharacter === 'player') {
                item.character = 'player'
                if(this.memberOrder) { // 已有序号，自增
                    item.order = ++this.memberOrder // 先给memberOrder+1，再赋值item.order
                }else { // 未有顺序
                    this.memberOrder = 1
                    item.order = this.memberOrder
                }
                this.selectedPlayerList.push(item)
            }else {
                alert('选中角色错误！')
            }
        },
        // 查询赌徒列表 
        async getPlayers() {
            await axios({
                method: 'get',
                url: 'http://localhost:3000/getPlayers'
            }).then(res => {
                if(res?.status === 200 && res?.data.length > 0) {
                    this.memberList = res.data
                    console.log(res)
                }else {
                    console.log(res)
                }
            })
        },
        // 开始比赛
        startGame() {
            let params = {
                bet_name: this.betVOs.bet_name,
                create_person_id: 9527,
                create_person_name: 'system',
                playerList: this.selectedPlayerList.concat(this.selectedBanker)
            }
            axios({
                method: 'post',
                url: 'http://localhost:3000/createBet',
                data: params
            }).then(res => {
                console.log('createBet接口结果：')
                console.log(res)
                if(res?.data.status === true && res?.data.returnObj.betVOs.bet_id) {
                    this.betVOs.bet_id = res.data.returnObj.betVOs.bet_id
                    alert('侯赛因你好，船已开出公海！')
                    this.getBetDetail()
                }else {
                    alert(res?.data.errMsg || '赛因，船有问题，请联系系统管理员！')
                }
            })
        },
        // 查询赌局信息
        getBetDetail() {
            axios.get('http://localhost:3000/getBetDetail', {
                params: {
                    bet_id: this.betVOs.bet_id,
                    bet_name: this.betVOs.bet_name
                }
            }).then(res => {
                console.log('bet detail')
                console.log(res)
                if(res.status === 200 && res?.data[0]) {
                    let resData = res.data
                    // 赌局信息
                    this.betVOs.bet_id = resData[0].bet_id
                    this.betVOs.bet_name = resData[0].bet_name
                    this.betVOs.status = resData[0].status
                    this.betVOs.create_person_id = resData[0].create_person_id
                    this.betVOs.create_person_name = resData[0].create_person_name
                    this.betVOs.create_time = resData[0].create_time
                    // 赌局成员列表
                    for (let i = 0; i < res.data.length; i++) {
                        let memberObj = {
                            member_id: null,
                            member_name: '',
                            character: '',
                            multiple: 1
                        }
                        memberObj.member_id = resData[i].member_id
                        memberObj.member_name = resData[i].member_name
                        memberObj.character = resData[i].member_character
                        if(resData[i].member_character === 'banker') { // 庄家倍数不计算
                            memberObj.multiple = 0
                        }
                        this.betMemberList.push(memberObj)
                    }
                }else if(res.status === 200 && res?.data.length === 0) {
                    alert(this.betVOs.bet_name + '航班不存在！')
                }else {
                    alert('查询失败！')
                }
            })
        },
        // 减少倍数
        minusMult(index) {
            if(this.betMemberList[index].multiple === 1) {
                this.betMemberList[index].multiple -= 2
            }else {
                this.betMemberList[index].multiple--
            }
        },
        // 增加倍数
        addMult(index) {
            if(this.betMemberList[index].multiple === -1) {
                this.betMemberList[index].multiple += 2
            }else {
                this.betMemberList[index].multiple++
            }
        }
    }
})
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
}
/* 背景 */
.main {
    height: 100vh;
    background-color: #F6F6F6;
}
/* 头部卡片 */
.header-card {
    width: 100vw;
    border-radius: 0 0 25px 25px;
    /* box-shadow: 0px 5px 20px 0px whitesmoke; */
    background-color: white;
    padding: 2px 20px 20px 20px;;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
}
/* 行动代号行 */
.act-name {
    margin: 10px 0;
}
/* 团队成员行 */
.team {
    
}
.act-name label, .team p {
    margin-right: 25px;
    color: darkgray;
    text-align: left;
}
.act-name input {
    padding: 0 10px;
    height: 35px;
    border-radius: 8px;
    border: none;
    background-color: whitesmoke;
    font-size: 18px;
}
/* 开船-比赛名称输入框 */
#act-name-input {
    width: 58vw;
}
.act-name input::placeholder {
    font-size: 18px;
    color: lightgray;
    /* line-height: 40px; */
}
/* 添加成员行 */
.team-row {
    display: flex;
    justify-content: flex-start;
    width: calc(100vw - 40px);
    overflow: scroll;
}
.btn {
    width: 120px;
    height: 38px;
    border: none;
    border-radius: 50px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    align-self: center;
    margin: 10px 0 0 0;
}
#sail-btn {
    background-color: dodgerblue;
    color: white;
}
/* 分割线 */
.split {
    margin: 30px 0;
    border: 1px solid whitesmoke;
    width: 90vw;
}
/* 文字“或者” */
.or {
    margin-bottom: 20px;
}
#search-input {
    width: 85vw;
}
#aboard {
    background-color: white;
    border: 1px solid dodgerblue;
    color: dodgerblue;
}


/* 得分表格 */
.score-table {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 10px;
    padding: 25px 0 100px 0;
    /* border-radius: 25px 25px 0 0; */
    background-color: white;
}
/* 成员得分框 */
.member-box {
    margin: 20px 5px 0 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    
}
/* 序号列 */
.set-col {
    margin: 0px 10px 0px 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: whitesmoke;
    border-radius: 0 8px 8px 0;
}
/* 表头 SET, 下注行头部 */
.row-head, .bet {
    margin: 0 10px;
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
/* 得分列 */
.member-col {
    width: calc(100vw - 50px);
    overflow: scroll; 
}
/* 头像行 得分行 */
.port-row, .score-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
/* 下注行 */
.bet-row {
    width: calc(100vw - 50px);
    /* overflow: scroll; */
    display: flex;
    flex-wrap: nowrap;
}
/* 序号框 下注标题框  */
.set-num, .bet {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    flex-shrink: 0;
}
/* 得分框 下注框 */
 .score, .bet-input {
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    flex-shrink: 0;
}
/* 序号框 下注标题框 */
.set-num, .bet {
    margin: 10px 10px 10px 5px;
}
/* 头像框 */
.port-main {
    margin: 0 10px
}
/* 得分框 下注框 */
.score, .bet-input {
    margin: 10px;
}
/* 下注框 */
.bet-input {
    border-top: none;
    border-right: none;
    border-left: none;
}
/* 倍数行 */
.bet-multiple-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 60px;
    align-items: center;
}
.bet-multiple {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 5px;
}
/* 倍数加减按钮 */
.no-bg-btn {
    width: 20px;
    height: 30px;
    border: none;
    /* border-radius: 50px; */
    font-weight: 400;
    /* font-size: 20px; */
    text-align: center;
    line-height: 30px;
    align-self: center;
    /* margin: 10px 0 0 0; */
}
#minus-btn {

}
#add-btn {

}
.multiple-input {
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
}

/* 底部按钮区域 */
.btn-area {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 5px 5px 20px 5px;
    position: fixed;
    bottom: 0px;
    background-color: white;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 5px 15px lightgray;
}
#next-btn {
    width: 67vw;
    background-color: dodgerblue;
    color: white;
}
#finish-btn {
    width: 29vw;
    background-color: white;
    border: 1px solid #98cbfd;
    color: #98cbfd;
}
</style>
