<template>
  <div class="index">
    <div v-show="$router.currentRoute.path =='/'">
      <h1>{{ msg }}</h1>
      <h4>移动端</h4>
      <!-- <router-link to="/about">about</router-link> -->
      <div id="entrance-box">
        <entrance v-for="(item,index) in entranceList" :name='item.name' :icon='item.icon' :path='item.path' :key='index'></entrance>
      </div>
    </div>
    <router-view v-show="$router.currentRoute.path !=='/'"></router-view>
  </div>
</template>

<script>
import Entrance from './index/entrance.vue'

export default {
  name: 'Index',
  data() {
    return {
      entranceList: [
        {
          name: '计分工具',
          icon: 'bet.png',
          path: 'score',
          index: 1
        },
        {
          name: '个人大事记',
          icon: 'logo.png',
          path: 'personalRecord',
          index: 2
        },
                {
          name: '乌漆嘛黑',
          icon: 'logo.png',
          path: '',
          index: 3
        },
                {
          name: '巴拉啦',
          icon: 'logo.png',
          path: '',
          index: 4
        },
                {
          name: '林子祥',
          icon: 'logo.png',
          path: '',
          index: 5
        },
      ]
    }
  },
  props: {
    msg: String
  },
  components: {
    Entrance
  },
  mounted() {
    console.log(this.$router.currentRoute.path)
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#entrance-box {
  position: relative;
  left: 0;
  right: 0;
  margin: 50px auto 0 auto;
  width: 88vw;
  /* background-color: aquamarine; */

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
</style>
