<template>
    <div class="add-square">
        <div class="square" @click="showPopup">
            <div :class="['name-port', character]" v-if="name">{{ name[name.length - 1] }}</div>
            <p v-else>+</p>
        </div>
        <div :class="{'title': true, 'black': blackFont}">{{ title }}</div>
    </div>
</template>

<script>
export default {
    name: 'addSquare',
    props: {
        title: {
            type: String
        },
        blackFont: {
            type: Boolean,
            default: false
        },
        // 头像 用户名
        name: {
            type: String
        },
        // 角色 庄、闲
        character: {
            validator: (val) => {
                return ['banker', 'player'].includes(val)
            }
        }
    },
    methods: {
        // 弹出选择框
        showPopup() {
            this.$emit('showPopup')
        }
    },
    components: {
    }
}
</script>

<style scoped>
.add-square {
    margin: 20px 46px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 方形 */
.square {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: darkgray;
    font-weight: 300;
}
/* 选择用户后的头像框 */
.name-port {
    width: inherit;
    height: inherit;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    line-height: 50px;
}
/* 庄 */
.banker {
    background-color: darksalmon;
}
/* 闲 */
.player {
    background-color: lightskyblue;
}
.title {
    margin: 10px 0;
    text-align: center;
    color: darkgray;
    font-size: 16px;
}
.black {
    color: black;
}
</style>