<template>
    <div class="header white-color">
        <button class="back" @click="goBack">
            <img src="../../assets/back.png" alt="">
        </button>
        <p class="title">{{ title }}</p>
    </div>
</template>

<script>
export default ({
    data() {
        return {
            // backIcon: '<',
        }
    },
    props: {
        title: {
            type: String
        }
    },
    methods: {
        // 返回上一页
        goBack() {
            this.$router.go(-1)
        }
    }
})
</script>

<style scoped>
.header {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
}
.white-color {
    background-color: white;
}
.back {
    width: 50px;
    height: 50px;
    color: darkgray;
    font-size: 25px;
    font-weight: 300;
    line-height: 53px;
    border: none;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
}
.back img {
    width: 20px;
    height: 20px;
}
.title {
    text-align: center;
    justify-self: center;
    align-self: center;
    font-weight: 500;
    font-size: 20px;
}

</style>
