<template>
    <div class="popup-main">
        <div class="overlay" @click="hidePopup"></div>
        <div class="popup">
            <div class="item" v-for="item in list" :key="item.user_id" @click="select(item)">
                <Portrait :text='item.username' :showTitle='true'></Portrait>
            </div>
        </div>
    </div>
</template>

<script>
import Portrait from './portrait.vue';

export default {
    name: 'popup',
    data() {
        return {
            colorList: ['pink','skyblue','green','red','gray'],
            selectColor: 1
        }
    },
    props: {
        list: {
            type: Array,
            default: () => {
                // return ['健聪', '轩', '陆泽成', '超Sir']
                return []
            },
            required: true
        }
    },
    components: {
        Portrait
    },
    methods: {
        // 点击遮罩，关闭弹窗
        hidePopup() {
            this.$emit('hidePopup')
        },
        // 单击选择选项
        select(item) {
            console.log('select!!')
            this.$emit('select', item)
            this.$emit('hidePopup')
        }
    },
    created() {
        this.selectColor = Math.floor(Math.random()*5)
    }
}
</script>

<style scoped>
.popup-main {
    position: absolute;
    top:0;
}
/* 遮罩 */
.overlay {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
}
.popup {
    position: fixed;
    bottom: 0;
    width: 100vw;
    /* height: 200px; */
    padding: 30px 15px 10px 15px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
/* 头像选项 */
.item {
    margin-bottom: 20px;
}
/* 头像颜色列表 */
.pink {
    background-color: pink;
}
.skyblue {
    background-color: skyblue;
}
.green {
    background-color: lightgreen;
}
.red {
    background-color: lightcoral;
}
.gray {
    background-color: darkgray;
}
</style>