<template>
    <div class="port-main">
        <!-- <img src="" alt=""> -->
        <div :class="['text-icon', colorList[selectColor]]">{{ text[text.length-1] }}</div>
        <div class="port-title" v-if="showTitle">{{ text }}</div>
    </div>
</template>

<script>
export default ({
    data() {
        return {
            colorList: ['pink','skyblue','green','red','gray'],
            selectColor: 1
        }
    },
    props: {
        text: {
            type: String
        },
        showTitle: {
            type: Boolean,
            default: false
        }
    },
    created() {
        this.selectColor = Math.floor(Math.random()*5)
    }
})
</script>

<style scoped>
.text-icon {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
}
/* 头像标题 */
.port-title {
    margin-top: 5px;
}
.pink {
    background-color: pink;
}
.skyblue {
    background-color: skyblue;
}
.green {
    background-color: lightgreen;
}
.red {
    background-color: lightcoral;
}
.gray {
    background-color: darkgray;
}
</style>
