<template>
  <div id="vue2">
    <Index msg="猪油糖杂货铺"/>
  </div>
</template>

<script>
import Index from './components/index.vue'

export default {
  name: 'vue2',
  components: {
    Index
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}
#vue2 {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
</style>
