<template>
    <div class="main" @click="goPage">
        <!-- <a :href="path"> -->
            <img class="icon" :src="require('../../assets/'+icon)" alt="">
            <p class="name">{{ name }}</p>
        <!-- </a> -->
    </div>
</template>

<script>
export default ({
    data() {
        return {

        }
    },
    props: {
        // 功能入口名字
        name: {
            type: String,
            required: true
        },
        icon: {
            type: String,
            default: 'logo.png',
            required: false
        },
        // 跳转路径
        path: {
            type: String,
            required: true
        }
    },
    methods: {
        goPage() {
            console.log('go')
            console.log(this.$router)
            this.$router.push(this.path)
        }
    }
})
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
}
.main {
    width:20vw;
    height: 23vw;
    /* background-color: burlywood; */
    margin: 0 0 10px 0;
}
.icon {
    width: 14vw;
    height: 14vw;
}
.name {

}

</style>
