<template>
    <div>
        个人大事记
        <div class="login" v-if="!isLogin">
            <input type="text" placeholder="登录码" v-model="inputLoginCode">
            <button @click="login">确认</button>
        </div>
        <div class="content" v-else>
            <div class="record" v-for="(item,index) in personalRecords" :key="index">
                <div>记录日期<span>{{ item.record_time }}</span></div>
                <h3>{{ item.record_name }}</h3>
                <p>{{ item.record_content }}</p>
                <span>{{ item.create_person }}</span>
            </div>
            <div class="form">
                <div>
                    <label for="name">标题</label>
                    <input type="text" v-model="newRecord.name">
                </div>
                <div>
                    <label for="content">内容</label>
                    <input type="text" v-model="newRecord.content">
                </div>
                <div>
                    <button @click="submit">submit</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default({
    name: 'personalRecord',
    data() {
        return {
            isLogin: false,
            inputLoginCode: null,
            loginConfig: null,
            personalRecords: null,
            newRecord: {
                name: null,
                content: null,
                create_person_id: 0,
                create_person: 'system',
                create_time: Date.now(),
                record_time: Date.now(),
                is_done: null,

            }
        }
    },
    methods: {
        // 查询个人说说记录
        getRecords(){
            axios.get('http://101.33.205.30:3000/getPersonalRecord').then(res => {
                console.log(res)
                if(res?.data.length > 0) {
                    this.personalRecords = res.data
                }else {
                    console.log('getPersonalRecord接口报错！')
                }
            })
        },
        // submit
        submit() {
            if(this.newRecord.content?.length > 5) {
                // axios.post('http://101.33.205.30:3000/createRecord', {
                //     data: this.newRecord
                // })
                
                axios({
                    method: 'post',
                    url: 'http://101.33.205.30:3000/createRecord',
                    data: this.newRecord
                }).then(res => {
                    console.log(res)
                    if(res?.data.affectedRows === 1) {
                        alert('提交成功！')
                        this.newRecord.name = null
                        this.newRecord.content = null
                        this.getRecords()
                    }else (
                        alert('提交失败！')
                    )
                })
            }else{
                alert('请填写内容！')
            }
        },
        // 校验登录码
        login() {
            if (this.inputLoginCode === this.loginConfig[0].value) {
                alert('ok')
                this.isLogin = true
                this.getRecords()
            }else{
                alert("error")
            }
        },
        getLoginCode() {
            
        }
    },
    created() {
        axios.get('http://101.33.205.30:3000/getSystemConfig', {
            params: {
                configNameList: 'LoginCode'
            }
        }).then(res => {
            console.log(res)
            if(res?.data.length > 0) {
                this.loginConfig = res.data.filter(i => {
                    return i.name === 'LoginCode'
                })
            }else {
                console.log('getSystemConfig接口报错！')
            }
        })
    }
})
</script>

<style scoped>
.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.record {
    margin: 15px 0;
    width: 90vw;
    height: 100%;
    padding: 15px 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    box-shadow: darkgray 5px 5px 5px 5px;
}
</style>